title: WaveLab Blog
---
<!DOCTYPE html>
<html>
    <head>
        {% include head.liquid %}
    </head>
    <body>
        <header>
            {% include header.liquid %}
        </header>
        <div class="posts-container">
            {% for post in collections.posts.pages %}
                <div class="post-container">
                    <div class="post-header">
                        <h1 class="post-title">{{ post.title }}</h1>
                        <h5 class ="post-author"><i>By {{ post.description }} on {{ post.published_date | date: "%m-%d-%Y" }} </i></h5>
                    </div>
                    <div class="post-content"> 
                        {{ post.content | truncatewords: 200 }} 
                    </div>
                    <div class="post-footer">
                        <a href={{ post.permalink }} class="post-link"><h5>Read More</h5></a>
                    </div>                    
                </div>
                <div class="post-sep">
                </div>
            {% endfor %}
        </div>
    </body>
</html>
